<h1>Event#index</h1>
<tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= link_to 'Show', event %></td>
      <% if can? :manage, @event %>
        <td><%= link_to 'Edit', edit_events_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: delete, data:{confirm: 'are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>

<br>
<% if can? :manager, @event %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
