<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style type="text/css">
    .log{
      margin-top: 1px;
      margin-right: 2px;
    }
  </style>

  <body>
    <% if user_signed_in? %>
      <button class="log"><%= link_to 'Traidor', log_out_url %></button>
      <label class="log">current_user</label>
    <% else %>
      <button class="log"><%= link_to 'Identify Trooper', registrations_url %></button>
      <button class="log"><%= link_to 'Join to the Empire', root_url %></button>
    <% end %>
  	<p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
